@import '../../../../app/Styles/variables.scss';
.update{ 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text-color;
 

    &__title {
        font-size: 5rem;
        margin-bottom: 1rem;
    }
}