@import '../../app/styles/variables.scss';

.timer {
    text-align: end;
    color: $error-color;   

    &__success{
        color: $success-color;
    }
    &__warning{
        color: $warning-color;
    }
    &__completed{
        color: $error-color;
    }
}