.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    color: rgb(254 202 202 / 5);
    background-color: rgb(71 85 105 / 5);
    align-items: center;
}