@import '../../../app/Styles/variables.scss';

.list{ 
    height: 85%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem; 
    overflow-y: scroll;
    justify-content: center;
    align-content: flex-start;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    :-webkit-scrollbar {
      display: none;
    } 
}

.no-results{
  height: 100%;
  width: 100%;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-content: center;
}