@import '../../../app/styles/variables.scss';

.form {
    padding-bottom: 10rem;
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    :-webkit-scrollbar {
      display: none;
    } 
}